/*google fonts. Roboto y Dancing Script*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:wght@300;400;500;700;900&display=swap');

/* reset*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #343434;
}

/* Navbar transparente */
.navbar {
    position: fixed;
    top: 0; /* Asegura que esté en el borde superior */
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0); /* Transparente */
    z-index: 1000; /* Mantenerlo por encima del contenido */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    font-size: large;
}

.logo-img {
    height: 90px; /* Tamaño del logo */
    margin-top: 1rem;
}

.logo-img:hover {
    cursor: pointer;
    opacity: 80%;
}

.navbar-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    display: none; /* Mostrar solo en pantallas pequeñas */
}

.navbar-links {
    display: flex;
    gap: 2rem;
    padding-right: 20px; /* Para alejar del borde derecho */
    letter-spacing: 0.1rem;
    font-weight: 400;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

.navbar-links a:hover {
    color: gray;
}

@media (max-width: 600px) {
    .navbar-toggle {
        display: block; /* Mostrar en pantallas pequeñas */
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        background: rgba(255, 255, 255, 0);
        position: absolute;
        top: 60px;
        right: 0;
        padding: 1rem;
    }

    .navbar-links.show {
        display: flex; /* Muestra el menú desplegable cuando se activa */
    }
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Imagen de portada */
.hero-section {
    background-image: url('assets/homeBackground.webp'); /* Reemplaza con tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ocupa todo el viewport */
    position: relative; /* Para alinear elementos dentro de la sección */
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
    color: white;
    position: absolute; /* Permite posicionar elementos dentro de la sección */
    top: 40%; /* Ajusta para centrar verticalmente */
    width: 100%; /* Asegura que ocupe todo el ancho */
}

.hero-title {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-paragraph {
    font-size: 1.4rem;
    width: 40%;
    font-weight: 300;
}


/* Sección con fondo gris */
.services{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title-services {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 3rem;
    color: white;
    padding-top: 4rem;
}

.service-box {
    color: #F4F4F4;
    border: 3px solid #F3BE41;
    border-radius: 25px; /* Bordes redondeados */
    margin: 1rem;
    box-shadow: 10px 9px 13px -5px rgba(99,93,93,0.75);
    -webkit-box-shadow: 10px 9px 13px -5px rgba(99,93,93,0.75);
    -moz-box-shadow: 10px 9px 13px -5px rgba(99,93,93,0.75);
}

.service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centra el texto */
    gap: 0.5rem;
    font-weight: 300;
    padding: 1rem 2rem;
}

.image-service-box{
    height: 80px; /* Tamaño de las imágenes */
}

/* Sección nosotros */
.aboutUs {
    background: #F3BE41;
    padding: 2rem 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-about {
    background: #F3BE41;
    font-family: "Dancing Script", cursive;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
}

.image-about {
    width: 20rem;
    border-radius: 25px;
}

.text-about {
    padding: 1rem 3rem;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    margin-top: 2rem;
}

.image-about-footer {
    width: 7rem;
}

/* Sección con fondo mostaza */
.contact {
    padding: 2rem;
    text-align: center;
}


/* Estilos generales para el formulario */
.contact {
    padding: 4rem; /* Espacio alrededor de la sección */
    text-align: center; /* Centrar el contenido */
    color: #F4F4F4;
}

.title-contact {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem; /* Espacio entre los campos */
}

label {
    display: block;
    font-weight: bold; /* Texto en negrita para las etiquetas */
    margin-top: 2rem;
    margin-bottom: 0.5rem; /* Espacio entre la etiqueta y el campo */
    color: #F4F4F4;
    font-weight: 300;
    font-size: 0.9rem;
}

input, textarea {
    width: 40%; /* Campos ocupan todo el ancho */
    padding: 0.5rem; /* Espacio dentro de los campos */
    border: 2px solid #F3BE41; /* Bordes grises claros */
    border-radius: 15px; /* Bordes redondeados */
    background: transparent;
}

input:focus, textarea:focus {
    background-color: #f3be412f ;
}

input::placeholder, textarea::placeholder {
    color: #F3BE41;
    font-family: "Roboto", sans-serif;
    opacity: 50%;
    padding: 0.3rem 1rem;
}

textarea {
    resize: vertical; /* Permitir solo el cambio de tamaño vertical */
}

button {
    padding: 0.75rem 8rem; /* Espacio alrededor del botón */
    background-color: #F3BE41; /* Color del botón */
    border: none;
    border-radius: 15px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por el botón */
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

button:hover {
    opacity: 80%;
}

/* footer */

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.logo-footer img {
    width: 90px;
}

.text-footer {
    margin-bottom: 2rem;
}

/* media queries */
@media (min-width: 601px) and (max-width: 1024px) {
    .hero-section {
        height: 70vh; /* Ocupa gran parte del viewport */
    }

    .hero-content {
        top: 25%; /* Ajusta para centrar verticalmente */
    }

    .hero-paragraph {
        font-size: 2rem;
        width: 70%;
    }

    .services {
        flex-direction: row;
    }
}